<ion-view>
  <ion-content ng-controller="inAppbrowserCtrl" has-bouncing="false">
    <div>
        <img src="img/card2.png" alt="" width="100%">
    </div>
    <div class="tc mb30">
      <a ng-click="golink('https://m.hanacard.co.kr/MWPI420000D.web?_frame=no&CD_PD_SEQ=5264')" class="di tc f16 wid90 marginAuto" style="line-height: 40px; border-radius:5px; background-color:#00907f; color:white; font-weight:bold">Daily 카드발급하기</a>
    </div>
    <div>
        <img src="img/card3.png" alt="" width="100%">
    </div>
    <div class="tc mb30">
      <a ng-click="golink('https://m.hanacard.co.kr/MWPI420000D.web?_frame=no&CD_PD_SEQ=5265')" class="di tc f16 wid90 marginAuto" style="line-height: 40px; border-radius:5px; background-color:#c4535e; color:white; font-weight:bold">체크카드 발급하기</a>
    </div>
  </ion-content>
</ion-view>
