<ion-view view-title="요양 일방">
  <ion-content class="yoyang-cont" ng-controller="inAppbrowserCtrl" has-bouncing="false">
    <div class="oh pr">
      <img src="img/yoyang-page.png" alt="" class="w100">
      <div class="pa yoyang-btn-area">
        <a ng-click="golink('http://hyomeal.modoo.at')" class="col col-50 fl tc di">
            <img class="w85 tc" src="img/yoyang-btn01.png" alt="">
        </a>
        <a ng-click="golink('http://www.soybiotics.co.kr')" class="col col-50 fl tc di">
            <img class="w85 tc" src="img/yoyang-btn02.png" alt="">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
