<ion-view view-title="구인정보">
	<ion-content class="content has-header has-footer" ng-controller="viewGuinInfoCtrl" has-bouncing="false">
    <div ng-repeat = "item in items" item = "item">
      <div class="di pr">
      	<li class="pa viewMap" ui-sref="#">
		      	<!-- <a ui-sref="#" class="f10 fw"><b>지도로 보기</b></a> -->
		    </li>
        <img src="img/eeInfo.png" alt="" / width="100%">
		<ul class="pa fw ee_detail" style="margin-left:30px">
			<li class="oh">
				<h3 class="fw fl bold">{{item.company}}</h3><p class="fl padding-left" style="padding-top: 9px">담당자 {{item.manager}}</p>
			</li>
			<li class="padding-bottom">
				{{item.business}}
			</li>
			<li>
				<ul class="pr fl iconCircle">
					<li class="pa text-center iconArea">
						<img src="img/gender.png" alt="" width="42%" class="di" style="margin-top:15px">
					</li>
					<li>{{item.sex}}</li>
				</ul>
				<ul class="pr fl iconCircle">
					<li class="pa text-center iconArea">
						<img src="img/age.png" alt="" width="70%" class="di" style="margin-top:15px;margin-left:2px">
					</li>
					<li>{{item.age_1st}}세 ~ {{item.age_2nd}}세</li>
				</ul>
				<ul class="pr fl iconCircle">
					<li class="pa text-center iconArea">
						<img src="img/howmany.png" alt="" width="45%" class="di" style="margin-top:15px; margin-left:5px">
					</li>
					<li>{{item.people_num}}명</li>
				</ul>
				<ul class="pr fl iconCircle">
					<li class="pa text-center iconArea">
						<img src="img/career.png" alt="" width="45%" class="di" style="margin-top:15px; margin-left:3px">
					</li>
					<li>{{item.career}}</li>
				</ul>
			</li>
		</ul>
      </div>
	  <div class="list" style="top:-5px">

	    <div class="item item-divider">
	      담당자 정보
	    </div>
	    <div class="item noPadding" ui-sref="#">
	      <div class="row">
	      	<span class="col col-25 f12"><b>회사</b></span>
	      	<span class="col col f12">{{item.company}}</span>
	      </div>
	    </div>
		<div class="item noPadding" ui-sref="#">
		  <div class="row">
		  	<span class="col col-25 f12"><b>회사위치</b></span>
		  	<span class="col f12">{{item.address}}</span>
		  </div>
		</div>
		<div class="item noPadding" ui-sref="#">
		  <div class="row">
		  	<span class="col col-25 f12"><b>담당업무</b></span>
		  	<span class="col f12">{{item.business}}</span>
		  </div>
		</div>
		<div class="item noPadding" ui-sref="#">
		  <div class="row">
		  	<span class="col col-25 f12"><b>담당자연락처</b></span>
		  	<span class="col f12">{{item.phone}}</span>
		  </div>
		</div>


	    <div class="tc padding-top">
	    	<span>근무 일자</span>
	    	<p>여기에 데이트피커 들어갑니다.{{item.date}}</p>
	    </div>
	    <div class="list">
	    	<div class="item noPadding" ui-sref="#">
	    	  <div class="row">
	    	  	<span class="col col-25 f12"><b>근무시간</b></span>
	    	  	<span class="col f12">{{item.time}}</span>
	    	  </div>
	    	</div>
	    	<div class="item noPadding" ui-sref="#">
	    	  <div class="row">
	    	  	<span class="col col-25 f12">금액(일당)</span>
	    	  	<span class="col f12">$ <b class="fo">{{item.pay}}</b></span>
	    	  </div>
	    	</div>
	    	<div class="padding f12 textArea">
	    		{{item.content}}
	    	</div>
	    	<div class="padding" ng-controller="PopCtrl">
	    		<button class="button button-block button-ilbang2 border" ng-click="showEstimate();">
	    		  평가보기
	    		</button>
					<button class="button button-block button-ilbang2 border" ng-click="showEstimate();">
	    		  내 평가보기
	    		</button>
					<button class="button button-block button-ilbang2 border" ng-click="showEstimate();">
	    		  신청서 삭제
	    		</button>

	    		<button class="button button-block button-ilbang">
	    		  지원하기
	    		</button>
					<button class="button button-block button-ilbang">
	    		  수정하기
	    		</button>
	    	</div>

	    </div>

	  </div>
    </div>

	</ion-content>
</ion-view>
