<ion-popover-view class="gameng-pop" style="background-color:black">
  <ion-content has-bouncing="false">
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

      <div class="list gameng-list">

        <div class="item item-divider tc">
          <h2><span class="fo">지역</span>선택</h2>
        </div>
        <div class="" ng-repeat="item in gamengGuList">
              <!-- <ion-radio> {{ item.text }} </ion-radio> -->

              <!-- <div class="item item-divider">
                asldjasdjk
              </div> -->

              <ion-radio class="bb2" ng-click="guSelect({{item.guNo}},'{{item.guName}}')">
                {{item.guName}}
              </ion-radio>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div class="bar-ilbang fw gameng-cancel tc f18 pa w100" ng-click="closePopover('gu');">
      취소하기
  </div>
</ion-popover-view>
