<ion-view view-title="구인 신청서 쓰기">
    <ion-content scroll="false" has-bouncing="false">
        <div class="bg">
            <img src="img/stepBar3.png" class="wid100 mg5" />
            <div class="join_form">
                <input type="text" class="inputTxt wid100 mg10" placeholder="담당 업무 내용을 입력해주세요." />
                <select class="step_select wid48 mg3" style="margin-right: 2%">
                    <option selected>모집 인원</option>
                </select>
                <select class="step_select wid48 mg3">
                    <option selected>일급</option>
                </select>
                <div class="radio_wrap mg3">
                    <div class="radio3 left">
                        <input type="radio" id="sexNo" name="sex" ng-model="sexNo" />
                        <label for="sexNo">무관</label>
                    </div>
                    <div class="radio3 left">
                        <input type="radio" id="male" name="sex" ng-model="male" />
                        <label for="male">남성</label>
                    </div>
                    <div class="radio3 left">
                        <input type="radio" id="female" name="sex" ng-model="female" />
                        <label for="female">여성</label>
                    </div>
                </div>
                <select class="step_select wid48 mg3" style="margin-right: 2%">
                    <option selected>최소 연령 선택</option>
                </select>
                <select class="step_select wid48 mg3">
                    <option selected>최대 연령 선택</option>
                </select>
                <select class="step_select wid100 mg3">
                    <option selected>필요 경력</option>
                </select>
                <textarea class="step_select wid100 mg3" rows="8" placeholder="상세 모집 내용을 입력 해주세요."></textarea>
            </div>
            <div class="join_btn_wrap">
                <a ui-sref="#" class="button btn red_btn">이전</a>
                <a ui-sref="infoEmployer" class="button btn white_btn">완료</a>
            </div>
        </div>
    </ion-content>
</ion-view>
