<ion-view view-title="구직 신청서 쓰기">
    <ion-content scroll="false" has-bouncing="false">
        <!-- <div class="bar-ilbang bar-hei">
            <a ui-sref="#/join/join2" class="white_font bar-btnTxt"><span class="ion-chevron-left"></span>&nbsp;&nbsp;구직 신청서 쓰기</a>
        </div> -->
        <div class="bg">
            <img src="img/stepBar2.png" class="wid100 mg5" />
            <div class="join_form">
                <div class="modify_ment mg5">희망 작업일</div>
                <div class="modify_ment">근무 시간</div>
            </div>
            <div class="join_btn_wrap">
                <a ng-click="modalStep1.show();modalStep2.close()" class="button btn red_btn">이전</a>
                <a ng-click="formStep2()" class="button btn white_btn">다음</a>
            </div>
        </div>
    </ion-content>
</ion-view>
