<ion-view view-title="긴급 구인">
	<ion-content class="content has-header has-footer" ng-controller="GuinFormCtrl" has-bouncing="false">
		<div class="row">
			<div ui-sref="urgentLoad" class="col text-center urgentBtn">
				<a class="col col-3 button button-ilbang2 border f14">
					<img src="img/urgent01.png" alt="" width="17px" class="di vm mr10">신청서 불러오기
				</a>
			</div>
			<div class="col text-center urgentBtn" ng-click="modalStep1.show()">
				<a ui-sref="#" class="col col-3 button button-ilbang f14">
					<img src="img/urgent02.png" alt="" width="17px" class="di vm mr10">신청서 새로 작성
				</a>
			</div>
		</div>
		<div class="padding">
			<div class="list mb5">
				<a class="item item-circle" ui-sref="infoEmployee">
					<span class="border pa circle f12">
						<img src="img/character.png" alt="" width="100%" style="margin-top:-.1em">
					</span>
					<h2 style="border-bottom:.3px solid #ccc; padding:.5em 0 1em">
						<span class="recent_list w85 di f12">tesst</span>
						<img src="img/newBadge.png" alt="" width="6%" class="vm newBadge" style="margin:0 0 -6px 5px" />
						<span class="fr">
							<img src="img/listTime.png" alt="" width="16px" class="vm newBadge" style="margin:0 0 -6px 5px" />
							<span class="mb_7 vm di f12">1시간 전</span>
						</span>
					</h2>
					<div class="padding-top">
						<span class="badge badge-light ilbangBadge smBadge mr10 f10">건설일방</span>
						<span class="f14 ls vm di f12" style="margin-top:-6px">서울특별시 - 금천구</span>
						<p class="padding-top f12"><b>특성별</b><span> > 건설일방</span></p>
						<p class="f12"><b>지역</b><span> > 경상북도 > 포항시 북구</span></p>
					</div>
					<p class="di ee_pee fr"><b class="fo di vm" style="margin:-2px 3px 0 0">30,000</b>원</p>
				</a>
				<div class="row noPadding mb5">
					<a ui-sref="#" class="col item tc padding f14 NoborderRight">신청서 삭제</a>
					<a ui-sref="guinModify" class="col item tc padding f14">수정하기</a>
				</div>
			</div>
			<div class="list mb5">
				<a class="item item-circle" ui-sref="infoEmployee">
					<span class="border pa circle f12">
						<img src="img/character.png" alt="" width="100%" style="margin-top:-.1em">
					</span>
					<h2 style="border-bottom:.3px solid #ccc; padding:.5em 0 1em">
						<span class="recent_list w85 di recent_list4 f12">VenkmaVenkmanVenkmanVenkmanVenkmanVenkmanVenkmanVenkmanVenkmanVenkmann</span>
						<img src="img/newBadge.png" alt="" width="6%" class="vm newBadge" style="margin:0 0 -6px 5px" />
						<span class="fr">
							<img src="img/listTime.png" alt="" width="16px" class="vm newBadge" style="margin:0 0 -6px 5px" />
							<span class="mb_7 vm di f12">2016.11.10</span>
						</span>
					</h2>
					<div class="padding-top">
						<span class="badge badge-light ilbangBadge smBadge mr10 f10">건설일방</span>
						<span class="f14 ls vm di f12" style="margin-top:-6px">서울특별시 - 금천구</span>
						<p class="padding-top f12"><b>특성별</b><span> > 건설일방</span></p>
						<p class="f12"><b>지역</b><span> > 경상북도 > 포항시 북구</span></p>
					</div>
					<p class="di ee_pee fr"><b class="fo di vm" style="margin:-2px 3px 0 0">30,000</b>원</p>
				</a>
				<div class="row noPadding mb5">
					<a ui-sref="#" class="col item tc padding f14 NoborderRight">신청서 삭제</a>
					<a ui-sref="guinModify" class="col item tc padding f14">수정하기</a>
				</div>
			</div>
			<div class="list mb5">
					<a class="item item-circle" ui-sref="infoEmployee">
					<span class="border pa circle f12">
						<img src="img/character.png" alt="" width="100%" style="margin-top:-.1em">
					</span>
					<h2 style="border-bottom:.3px solid #ccc; padding:.5em 0 1em">
						<span class="recent_list w85 di f12">Venkman</span>
						<img src="img/newBadge.png" alt="" width="6%" class="vm newBadge" style="margin:0 0 -6px 5px" />
						<span class="fr">
							<img src="img/listTime.png" alt="" width="16px" class="vm newBadge" style="margin:0 0 -6px 5px" />
							<span class="mb_7 vm di f12">2016.09.27</span>
						</span>
					</h2>
					<div class="padding-top">
						<span class="badge badge-light ilbangBadge smBadge mr10 f10">건설일방</span>
						<span class="f14 ls vm di f12" style="margin-top:-6px">서울특별시 - 금천구</span>
						<p class="padding-top f12"><b>특성별</b><span> > 건설일방</span></p>
						<p class="f12"><b>지역</b><span> > 경상북도 > 포항시 북구</span></p>
					</div>
					<p class="di ee_pee fr"><b class="fo di vm" style="margin:-2px 3px 0 0">30,000</b>원</p>
				</a>
				<div class="row noPadding mb5">
					<a ui-sref="#" class="col item tc padding f14 NoborderRight">신청서 삭제</a>
					<a ui-sref="guinModify" class="col item tc padding f14">수정하기</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
