<ion-view view-title="동영상">
  <ion-content>
    <div class="list bg_wh video-list">
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
      </div>
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
      </div>
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
      </div>
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
      </div>
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
            </div>
      <div class="item ilbangItem video" ui-sref="video-detail">

          <ul class="video-ul">
            <li class="video-thumb">
              <img src="img/detail-video.png" alt="" width="100%">
            </li>
            <li class="title-wrap">
              <span class="title textCut">(주)MMC피플, 글로벌 브랜드 대상 수상! </span>
              <img class="newBedge" src="img/newBadge.png" alt="" width="6%">
            </li>
            <li class="video-info">
              <span>최고관리자</span>
              <span class="devide">|</span>
              <span>조회수</span>
              <span class="devide">|</span>
              <span>2017.09.09</span>
            </li>
          </ul>
      </div>

      <div class="video-more" onclick="alert('보여주세요~!')">
        더보기+
      </div>
      <a class="bann oh" ng-controller="randBanCtrl">
          <img ui-sref="adTabs.banner({no:{{bannerNo}}})" class="Rand_Banner padding w100" src="{{ bannerPath }}" />
      </a>
    </div>

  </ion-content>
</ion-view>
