<ion-view view-title="E-머니 이용내역보기" style="top:57px">

	<ion-content class="content has-footer mb2 bg_fa logItemWrap">
		    <div class="bg_fa">

				<div class="list logList padding">
					<p class="bold">적립 / 차감 내역</p>
					<div class="item f12 bg_fa logItem pt16">
						<p class="fl charLogTxt1 f12">
							<span class="border2 padding charBadge">충전</span><span>이머니</span>
						</p>
						<span><b class="f13">+5000 P</b></span>
						<span class="logDate fr dark">2016/11/11</span>
					</div>
					<div class="item f12 bg_fa logItem pt16">
						<p class="fl charLogTxt1 f12">
							<span class="border2 padding charBadge">충전</span><span>신용카드</span>
						</p>
						<span><b class="f13">+5000 P</b></span>
						<span class="logDate fr dark">2016/11/11</span>
					</div>
					<div class="item f12 bg_fa logItem pt16">
						<p class="fl charLogTxt1 f12">
							<span class="border2 padding charBadge">충전</span><span>휴대폰 결제</span>
						</p>
						<span><b class="f13">+5000 P</b></span>
						<span class="logDate fr dark">2016/11/11</span>
					</div>
					<div class="item f12 bg_fa logItem pt16">
						<p class="fl charLogTxt1 f12">
							<span class="border2 padding charBadge">충전</span><span>이머니</span>
						</p>
						<span><b class="f13">+5000 P</b></span>
						<span class="logDate fr dark">2016/11/11</span>
					</div>
					<div class="item f12 bg_fa logItem pt16">
						<p class="fl charLogTxt1 f12">
							<span class="border2 padding charBadge">충전</span><span>신용카드</span>
						</p>
						<span><b class="f13">+5000 P</b></span>
						<span class="logDate fr dark">2016/11/11</span>
					</div>
				</div>
		    </div>
	</ion-content>
</ion-view>
