<ion-view view-title="E-머니">
	<ion-content class="content has-header has-footer">
			<ul class="padding adTopShow">
			<li class="card1" style="padding:0 20px; height: 12em">
				<p class="cardTop bold f22" style="padding:30px 0 20px">
					가용 AD머니
					<span class="di vm mt_4">
						<img src="img/queRed.png" alt="" width="20px">
					</span>
					<span class="fr f22"><b>5,700</b>P</span>
				</p>
				<hr>
				<p class="cardTop f18 bold" style="padding:30px 0 20px">
					현재 나의 E-머니
					<span class="fr"><b>5,700</b>P</span>
				</p>
			</li>
			<li class="tc f14">
				<a class="fw cardBot f16">
					AD머니를 E-머니로 진행하러 가기
				</a>
			</li>
		</ul>


	</ion-content>
</ion-view>
