<ion-view view-title="E-머니" style="margin-top:62px">
	<ion-content class="padding" style="top:0; bottom: 0;">
        <div class="list ELogWrap">
        	<p class="item csList bgTrans">
                <span class="f14">
					신용카드 결제<br>
                	<span class="mr20 f12">2016.11.11</span>
					<span class="f12">17:05:10</span>
                </span>
                <span class="fr fo f16"><b>7,000 P</b></span>
            </p>
            <p class="item csList bgTrans">
                <span class="f14">
					신용카드 결제<br>
					<span class="mr20 f12">2016.11.11</span>
					<span class="f12">17:05:10</span>
                </span>
                <span class="fr fo f16"><b>7,000 P</b></span>
            </p>
            <p class="item csList bgTrans">
                <span class="f14">
					신용카드 결제<br>
					<span class="mr20 f12">2016.11.11</span>
					<span class="f12">17:05:10</span>
                </span>
                <span class="fr fo f16"><b>7,000 P</b></span>
            </p>
            <p class="item csList bgTrans">
                <span class="f14">
					신용카드 결제<br>
					<span class="mr20 f12">2016.11.11</span>
					<span class="f12">17:05:10</span>
                </span>
                <span class="fr fo f16"><b>7,000 P</b></span>
        	</p>
			<a ui-sref="admoney">
        		<img src="img/empBan1.png" alt="" class="wid100 mt10">
        	</a>
        </div>
    </ion-content>
</ion-view>
