<ion-modal-view view-title="구인 정보" ng-controller="guinViewTab1Ctrl">
	<style media="screen">
		.sect2{display: none}
	</style>
	<div class="bar bar-ilbang jcc tc lh36 f16 fw ee-matching-head" ng-click="backModal()">
			<i class="icon f16 ion-ios-arrow-back button pa" style="color:white; background-color:#eb5f43;left:0"></i>
			구인 정보
	</div>
	<ion-content class="content has-header has-footer bg_white" ng-controller="gujikViewTab3Ctrl" has-bouncing="false">
		<div class="sect1">

      		<div class="di pr">
      			<!-- <li class="pa viewMap" ui-sref="#">
		      		<a ui-sref="#" class="f10 fw"><b>지도로 보기</b></a>
		    	</li> -->
        		<img src="img/eeInfo.png" alt="" width="100%" />
				<ul class="pa fw ee_detail" style="margin-left:5%">
					<li class="oh">
						<h3 class="fw fl bold">{{company}}</h3>
						<p class="fl padding-left" style="padding-top: 9px">담당자 {{manager}}</p>
					</li>
					<li class="padding-bottom margin-vertical" style="width:90%">{{business}}</li>
					<li class="oh w100">
						<ul class="pr fl iconCircle">
							<li class="pa text-center iconArea">
								<img src="img/gender.png" alt="" width="42%" class="di" style="margin-top:15px" />
							</li>
							<li>{{sex}}</li>
						</ul>
						<ul class="pr fl iconCircle">
							<li class="pa text-center iconArea">
								<img src="img/age.png" alt="" width="70%" class="di" style="margin-top:15px;margin-left:2px" />
							</li>
							<li>{{age_1st}}세 ~ {{age_2nd}}세</li>
						</ul>
						<ul class="pr fl iconCircle">
							<li class="pa text-center iconArea">
								<img src="img/howmany.png" alt="" width="45%" class="di" style="margin-top:15px; margin-left:5px" />
							</li>
							<li>{{people_num}}명</li>
						</ul>
						<ul class="pr fl iconCircle">
							<li class="pa text-center iconArea">
								<img src="img/career.png" alt="" width="45%" class="di" style="margin-top:15px; margin-left:3px" />
							</li>
							<li>{{career}}</li>
						</ul>
					</li>
				</ul>
      		</div>
	  		<div class="list" style="top:-5px">
	    		<div class="item item-divider">담당자 정보</div>
	    		<div class="item noPadding">
	      			<div class="row">
	      				<span class="col col-25 f12"><b>회사</b></span>
	      				<span class="col col f12">{{company}}</span>
	      			</div>
	    		</div>
				<div class="item noPadding">
		  			<div class="row">
		  				<span class="col col-25 f12"><b>회사 위치</b></span>
		  				<span class="col f12">{{address}}</span>
		  			</div>
				</div>
				<div class="item noPadding">
		  			<div class="row">
		  				<span class="col col-25 f12"><b>담당 업무</b></span>
		  				<span class="col f12">{{business}}</span>
		  			</div>
				</div>
				<div class="item noPadding">
		  			<div class="row">
		  				<span class="col col-25 f12"><b>담당자 연락처</b></span>
		  				<span class="col f12">{{phone}}</span>
		  			</div>
				</div>
				<div ng-if="apply==1" class="bg_white noPadding flow">
						<div class="tc pd10 f14">희망 근무 일자 </div>
							<div class="dateWrap">
								<div ng-repeat="date in dates">
									<label><input type="checkbox" checklist-model="work_dates" checklist-value="date"/>&nbsp;&nbsp;{{ date }}</label>
								</div>
							</div>
					</div>
	    		<div ng-if="apply==2" class="tc padding-top">
						<div class="tc pd10 f14">근무 일자</div>
						<div class="dateWrap">
							<div>{{ day }}</div>
	    			</div>
	    		</div>
	    		<div class="list">
		    		<div class="item noPadding">
		    	  		<div class="row">
		    	  			<span class="col col-25 f12"><b>근무 시간</b></span>
		    	  			<span class="col f12">{{time}}</span>
		    	  		</div>
		    		</div>
		    		<div class="item noPadding">
		    	  		<div class="row">
		    	  			<span class="col col-25 f12"><b>금액(일당)</b></span>
		    	  			<span class="col f12">&#x20A9; <b class="fo">{{pay}}</b></span>
		    	  		</div>
		    		</div>
		    		<div class="padding f12 textArea">{{content}}</div>
		    		<div class="padding" ><!--ng-controller="PopCtrl"-->
		    		<button class="button button-block button-ilbang2 border" ng-click="showEstimate()">
		    		  평가보기
		    		</button>
						<a ng-if="apply==1" class="button button-block white_btn" ng-click="doGujik(number,euid)" style="border-radius: 0;">구직 신청</a>
						<a ng-if="applyState=='yes'&&applyEmploy=='no'" class="button button-block red_btn" ng-click="requestOk(join_No,euid,day,title)" style="border-radius: 0;">요청 승인</a>
						<a ng-if="applyState=='yes'&&applyEmploy=='no'" class="button button-block white_btn" ng-click="cancelGujik(join_No)" style="border-radius: 0;">요청 취소</a>
						<a ng-if="apply==2 && applyState=='no'|| applyState == 'yes'&& applyEmploy == 'yes'" class="button button-block white_btn" ng-click="cancelGujik(join_No)" style="border-radius: 0;">구직 취소</a>
						<!--<button class="button button-block button-ilbang2 border" ng-click="showEstimate();">
		    		  내 평가보기
		    		</button>-->
						<!--<button class="button button-block button-ilbang2 border" ng-click="showEstimate();">
		    		  신청서 삭제
		    		</button>-->

		    		<!--<button class="button button-block button-ilbang">
		    		  지원하기
		    		</button>-->
						<!--<button class="button button-block button-ilbang">
		    		  수정하기
		    		</button>-->
		    		</div>
		    	</div>
		  	</div>

		</div>
		<div class="sect2">
				<div class="tc">
					<h2 style="margin-bottom:0">
						<span class="fw100">구인자 </span>
						<b class="fw200">{{company}}</b>
					</h2>
					<p class="dark">구직자 들의 평가 및 평점입니다.</p>
					<div class="padding-bottom oh starArea mb20">
						<img src="img/peopleIcon.png" alt="" width="4%" class="fl" style="margin:2px 5px 0 0">
						<span class="fl">{{allPost}}명</span>
						<!--<div id="rateYo" class="rateYo fl"></div>
						<span class="red_font fl" style="font-weight: normal;"></span>
						<span class="fl"></span>
						<span class="fl"></span>-->
					</div>
				</div>
				<div class="list">
				  	<div class="item item-divider">
				    	<b class="red_font">{{allPost}}건</b>의 평가가 있습니다.
				  	</div>
				  	<div class="item bg_fa f14 pd15" ng-repeat = "item in itemss" item="item">
				  		<div class="fl" style="padding-bottom: 5px;">익명입니다.
							<span><a ui-sref="#" class="red_font" style="font-weight: normal;"><!--&nbsp;삭제--></a></span>
						</div>

						<div id="rateYo{{$index}}" class="rateYo fr">{{item.score}}점</div>
				    	<p class="review_ee w100">{{item.content}}</p>
				    	<p class="mb_7 vm di f14 dark">{{item.wdate}}</p>

				  	</div>

		<!--
					<div class="item bg_fa f14 pd15">
				  		<div class="fl" style="padding-bottom: 5px;">익명입니다.
							<span><a ui-sref="#" class="red_font" style="font-weight: normal;">&nbsp;삭제</a></span>
						</div>

						<div id="rateYo2" class="rateYo fr"></div>
				    	<p class="review_ee w100">성실하고 시간 약속 잘지키시네요. 다음에 또 오셨으면 좋겠어요. 별점 4점 드립니다.</p>
				    	<p class="mb_7 vm di f14 dark">2016.09.27</p>
				  	</div>
					<div class="item bg_fa f14 pd15">
				  		<div class="fl" style="padding-bottom: 5px;">익명입니다.
							<span><a ui-sref="#" class="red_font" style="font-weight: normal;">&nbsp;삭제</a></span>
						</div>
						<div id="rateYo3" class="rateYo fr"></div>
				    	<p class="review_ee w100">성실하고 시간 약속 잘지키시네요. 다음에 또 오셨으면 좋겠어요. 별점 4점 드립니다.</p>
				    	<p class="mb_7 vm di f14 dark">2016.09.27</p>
				  	</div>
					<div class="item bg_fa f14 pd15">
				  		<div class="fl" style="padding-bottom: 5px;">익명입니다.
							<span><a ui-sref="#" class="red_font" style="font-weight: normal;">&nbsp;삭제</a></span>
						</div>
						<div id="rateYo4" class="rateYo fr"></div>
				    	<p class="review_ee w100">성실하고 시간 약속 잘지키시네요. 다음에 또 오셨으면 좋겠어요. 별점 4점 드립니다.</p>
				    	<p class="mb_7 vm di f14 dark">2016.09.27</p>
				  	</div>
					<div class="item bg_fa f14 pd15">
				  		<div class="fl" style="padding-bottom: 5px;">익명입니다.
							<span><a ui-sref="#" class="red_font" style="font-weight: normal;">&nbsp;삭제</a></span>
						</div>
						<div id="rateYo5" class="rateYo fr"></div>
				    	<p class="review_ee w100">성실하고 시간 약속 잘지키시네요. 다음에 또 오셨으면 좋겠어요. 별점 4점 드립니다.</p>
				    	<p class="mb_7 vm di f14 dark">2016.09.27</p>
				  	</div>-->
						<ion-infinite-scroll distance="20%" ng-if = "!noMoreItemsAvailableReview" on-infinite = "loadMore1({{no}})"></ion-infinite-scroll>
				</div>

			</div>

	</ion-content>
</ion-view>
