<ion-view view-title="{{ title }} 일방" ng-controller="sotongListCtrl">
    <style media="screen">
        .popover { opacity: 1; top: 15%; width: 90%; left: 36%; }
    </style>
    <ion-content has-bouncing="false">
        <div class="oh mt20">
            <ul class="col col-33 fl sotong-circle" ui-sref="sotong-detail({ type: type, no: item.no })" ng-repeat="item in items" item="item">
                <li class="oh artist">
                    <img class="hex profile-img" ng-class="{item.imgUrl=='http://il-bang.com/pc_renewal/sotongFile/20170419135801GIGA.jpg'}" src="{{ item.imgUrl }}" width="100%" height="100%">
                </li>
                <li class="tc f16 bold artist-name" ng-if="item.name != null">{{ item.name }}</li>
                <li class="tc f16 bold artist-name" ng-if="item.name == null">{{ uid }}</li>
                <li class="artist-content tc text-cut">{{ item.message }}</li>
            </ul>
            <ul class="col col-33 fl artist-list tc" ng-click="artistAddBtn()">
                <li class="oh di">
                    <div class="hex hex-3" style="margin-bottom: 1em !important; background-color: rgba(249, 249, 249, 1) !important;">
                        <div class="inner" style="border-radius:3em; height:6em !important;">
                            <img src="img/sotong-plus.png" width="100%"/>
                        </div>
                    </div>
                </li>
                <li class="artist-apply"><div class="tc di artistBtn">신청하기</div></li>
            </ul>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="sotong-chating sotong-artist-chating" ng-show="kakaoView == true">
        <button class="noBorder w100" ng-click="sotongAlert('서비스 준비중입니다.')">1:1 오픈 채팅하기</button>
    </ion-footer-bar>
</ion-view>
