<ion-view view-title="가맹몰 결제 완료" class="fw" ng-controller="gaMengPayCompletCtrl">
  <ion-nav-bar class="bar-ilbang">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- <ion-nav-buttons side="right">
          <a ui-sref="main.home"><img src="img/home-icon.png" width="60%" style="padding: 5px 0;"></a>
      </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content ng-controller="gamengCtrl" class="has-footer has-header bg_fa" style="color:black" has-bouncing="false">
      <div class="tc bb pb30 pay-fin-tlt">
        <img src="img/pay-fin.png" alt="" class="mt70" width="30%">
        <h5>결제가 완료되었습니다</h5>
        <p class="font-grey">확인버튼을 눌러 이용내역을<br> 확인해보세요</p>
      </div>
      <div class="pay-fin-detail bb bg_wh">
          <div class="pay-detail1 oh">
              <p class="fl" style="color:red">차감포인트</p>
              <p class="fr">{{minusPoint}}<span class="ml5">P</span></p>
          </div>
          <div class="pay-detail2 oh">
              <p class="fl">남은 포인트</p>
              <p class="fr">{{remainderPoint}}<span class="ml5">P</span></p>
          </div>
          <div class="pay-detail2 oh">
              <p class="fl">결제금액</p>
              <p class="fr">{{payAmt}}<span class="ml5">원</span></p>
          </div>
      </div>
  </ion-content>
  <div class="bar bar-footer bar-ilbang noPadding tc">
    <div class="title fw" ng-click="test=true" ui-sref="gameng-usage-detail">확인</div>
  </div>
</ion-view>
