<ion-view view-title="온라인 채용관" cache-view="false">
  <ion-content class="content has-header" has-bouncing="false">
      <img class="mb10" ui-sref="onlineSub({ no : 1 })" src="img/online01.png" alt="" width="100%">
      <img class="onlineImg mb10" ui-sref="onlineSub({ no : 2 })" src="img/online02_hide.png" alt="" width="100%">
      <img class="onlineImg mb10" ui-sref="air" src="img/online02.png" alt="" width="100%">
      <img class="onlineImg mb10" ui-sref="onlineSub({ no : 4 })" src="img/online03.png" alt="" width="100%">
      <img class="onlineImg mb10" ui-sref="onlineSub({ no : 5 })" src="img/online04.png" alt="" width="100%">
     </ion-content>
</ion-view>
