<ion-view>
    <div class="item bg_fa">
        <p class="f12 fl mr10">&nbsp;</p>
    </div>

    <ion-tabs  class="erTabs has-header tabs-top">


        <ion-tab class="erIcon1 mainList f10" href = "#/employer/all">
            <ion-nav-view name="er1"></ion-nav-view>
        </ion-tab>


        <ion-tab class="erIcon2 mainList f10" href = "#/employer/list">
            <ion-nav-view name="er2"></ion-nav-view>
        </ion-tab>


        <ion-tab class="erIcon3 mainList f10" href = "#/employer/matching">
            <ion-nav-view name="er3"></ion-nav-view>
        </ion-tab>


        <ion-tab class="erIcon4 mainList f10" href = "#/employer/finish">
            <ion-nav-view name="er4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
