<ion-view view-title="AD머니 전환" scroll="false">
	<ion-content class="content has-header bg_fa adChange" has-bouncing="false">
      	<div class="list padding changeList">
        	<div class="item bg_fa csList f14 bt mt40 pd15">
          		<span>전환 가능한 AD머니</span>
          		<span class="fr fo"><b>4,234 P</b></span>
        	</div>
        	<div class="item bg_fa csList f14 bt pd15">
          		<span>현재 나의 E-머니</span>
          		<span class="fr fo"><b>10,000 P</b></span>
        	</div>
        	<div class="item bg_fa csList f14 bt bb">
          		<!-- <span class="di vm left" style="margin-top: 7px">전환 시킬 AD머니</span> -->
		  		<div class="list">
					<label class="item item-input right" style="padding: 0 0 0 30px; width: 100px;">
						<input type="text" placeholder="100 P" />
					</label>
		  		</div>
        	</div>
        	<!-- <p class="f12 margin-vertical fo wid100" style="text-align: right;">* ad머니를 E머니로 전환합니다.</p> -->
      	</div>
		<!-- <a class="wid100 hide-on-keyboard-open" style="position: absolute; bottom: 0;"><div class="red_btn pd10 tc f14">E-머니로 전환하기</div></a> -->
	</ion-content>
</ion-view>
