<ion-modal-view view-title="구인 신청서 쓰기" ng-controller="GuinFormCtrl">
    <ion-content has-bouncing="false">
        <div class="cont1 db">
          <div class="bg">
              <img src="img/stepBar1.png" class="wid100 mg5" />
              <div class="join_form">
                  <div class="modify_ment mg5">기본 정보 입력</div>
                  <div class="list list-inset bg_fa mb10">
                      <label class="item item-input mb10"><input type="text" id="title" ng-model="guinForm.title" placeholder="모집 제목을 입력해주세요." /></label>
                      <label class="item item-input"><input type="text" id="company" ng-model="guinForm.company" placeholder="상호 또는 성명을 입력해주세요." /></label>
                  </div>
                  <div class="list flow pdLeft10 mb10">
                      <label class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.work_1st" ng-change="changeWork_1st()" ng-options="o.no as o.list_name for o in selboxData.work_1st">
                          </select>
                      </label>
                      <label ng-if="selboxData.work_2nd.length> 1" class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.work_2nd"  ng-options="o.no as o.list_name for o in selboxData.work_2nd">
                          </select>
                      </label>
                  </div>
                  <!--
                  <div class="list flow pdLeft10 mb10">
                      <label class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.work_1st" ng-change="changeWork_1st()" ng-options="o.no as o.list_name for o in selboxData.work_1st">
                          </select>
                      </label>
                      <label class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.work_2nd"  ng-options="o.no as o.list_name for o in selboxData.work_2nd">
                          </select>
                      </label>
                  </div>
                -->
  <!--
                  <div ng-controller="jusoCtrl">

                    <input type="text" ng-model="guinForm.si" name="si" placeholder="시">
                    <input type="text" ng-model="guinForm.gu" name="gu" placeholder="구">
                    <input type="text" ng-model="guinForm.lng" name="lng" placeholder="lng">
                    <input type="text" ng-model="guinForm.lat" name="lat" placeholder="lat" >
                    <input type="text" ng-model="guinForm.sample3_postcode" placeholder="우편번호">

                    <input type="button" ng-click="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
                                <div id="wrap" style="display:none;border:1px solid;width:300px;height:300px;margin:5px 0;position:relative">

                                </div>
                                <input type="text" ng-model="guinForm.sample3_address" class="d_form large" placeholder="주소">
                  </div>
  -->


                  <div class="list flow pdLeft10 mb10">
                      <label class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.area_1st" ng-change="changeArea_1st()" ng-options="o.no as o.list_name for o in selboxData.area_1st">
                          </select>
                      </label>
                      <label class="item item-input item-select left pdTop40 wid49">
                          <select class="ionicSel" ng-model="guinForm.area_2nd"  ng-options="o.no as o.list_name for o in selboxData.area_2nd">
                          </select>
                      </label>
                  </div>

                  <div class="list list-inset mb10">
                      <label class="item item-input"><input type="text" id="address" ng-model="guinForm.address" placeholder="상세주소를 입력해주세요." /></label>
                  </div>

                  <!--<div class="list list-inset bgTrans margin">
                      <label class="item item-input wid70 left">
                          <input type="text" ng-model="guinForm.address" placeholder="근무 지역 주소" />
                      </label>
                      <iframe src="http://il-bang.com/ilbang_pc/ionic/juso.php" width="100%" height="350px" id='daumIframe' ng-show="juso_show"></iframe>
                      <button type="button" ng-click="jusoSearch()" class="button button-ilbang2 border noRadius form1Btn fr">찾기</button>

                  </div>-->
                  <div class="modify_ment mg3">담당자 정보</div>
                  <div class="list list-inset mb10">
                      <label class="item item-input"><input type="text" id="manager" ng-model="guinForm.manager" placeholder="이름을 입력해주세요." /></label>
                  </div>
                  <div class="modify_ment mg3">휴대폰 번호</div>
                  <div class="list list-inset flow bgTrans margin">
                      <label class="item item-input wid33 left NoborderRight" style="border-radius: 0 !important;">
                          <input type="text"  maxlength="3" class="pdRight10" id="phone1" ng-model="guinForm.phone1" placeholder="" />
                      </label>
                      <label class="item item-input wid33 left NoborderRight">
                          <input type="text"  maxlength="4" class="pdRight10" id="phone2" ng-model="guinForm.phone2" />
                      </label>
                      <label class="item item-input wid33 left">
                          <input type="text"  maxlength="4"class="pdRight10" id="phone3" ng-model="guinForm.phone3" />
                      </label>
                  </div>
              </div>

              <div class="join_btn_wrap mb20">
                  <a ng-click="exitEmergencyGuin()" class="button btn red_btn">이전</a>
                  <a ng-click="emergencyFormStep1(guinForm)" class="button btn white_btn">다음</a>
              </div>
          </div>

        </div>
        <div class="cont2 dn">
          <div class="bg">
              <img src="img/stepBar2.png" class="wid100 mg5" />
              <div class="join_form">
                  <div class="modify_ment mg5">
                    <h4>희망 작업일</h4>
                  </div>
                  <button class="button ilbang-button indexView back-text" ng-click="openDatePicker()">날짜선택</button>
                  <input type="text" class="m0a mt10 border2 w100" ng-model="work_date" style="border: 1px solid #ddd !important;"  value="" readonly/>
                  <div class="modify_ment">근무 시간</div>
                  <div class="list TimeCtrl padding mt20" ng-controller="TimeCtrl">
                        <!--<ion-checkbox class="timeSel di noBorder f12" ng-repeat="time in timeList" ng-model="time.checked" ng-click="updateSelection($index, timeList, item.title)">
                            {{ time.text }}
                        </ion-checkbox>-->
                      <div class="wid100 flow times">
                          <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'1'">오전</ion-radio>
                          <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'2'">오후</ion-radio>
                          <ion-radio class="wid33 noMargin NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'3'">저녁</ion-radio>
                      </div>
                      <div class="wid100 flow times">
                          <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'4'">새벽</ion-radio>
                          <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'5'">오전 ~ 오후</ion-radio>
                          <ion-radio class="wid33 noMargin NoborderBottom f12" name="time" ng-model="guinForm.time" ng-value="'6'">오후 ~ 저녁</ion-radio>
                      </div>
                      <div class="wid100 flow times">
                          <ion-radio class="timeRadio f12" name="time" ng-model="guinForm.time" ng-value="'7'">저녁 ~ 새벽</ion-radio>
                          <ion-radio class="timeRadio f12" name="time" ng-model="guinForm.time" ng-value="'8'">새벽 ~ 오전</ion-radio>
                          <ion-radio class="wid33 noMargin f12" name="time" ng-model="guinForm.time" ng-value="'9'">풀타임</ion-radio>
                      </div>
                  </div>
                  <div class="join_btn_wrap mb20">
                    <a ng-click="preEmerGoStep1()" class="button btn red_btn">이전</a>
                    <a ng-click="goEmergencyStep3()" class="button btn white_btn">다음</a>
                  </div>
              </div>
          </div>

        </div>
        <div class="cont3 dn">
          <div class="bg">
              <img src="img/stepBar3.png" class="wid100 mg5" />
              <div class="join_form">
                  <div class="list list-inset wid93 mb10" style="margin-top: 30px;">
                      <label class="item item-input">
                          <input type="text" id="business" ng-model="guinForm.business" placeholder="담당 업무 내용을 입력해주세요." />
                      </label>
                  </div>
                  <div class="list flow pdLeft10 mb10">
                      <label class="item item-input item-select left pdTop40 wid48">
                          <select class="ionicSel" ng-model="guinForm.people_num" ng-options="o.no as o.list_name for o in selboxData.people_num">
                              <option selected>모집 인원</option>
                          </select>
                      </label>
                      <!--<label class="item item-input item-select left pdTop40 wid48">
                          <select class="ionicSel" ng-model="guinForm.pay" ng-options="o.no as o.list_name for o in selboxData.pay">
                              <option selected>일급</option>
                          </select>
                      </label>-->
                  </div>
                  <div class="list list-inset wid93 mb10" style="margin-top: 10px; margin-left:9px">
                      <label class="item item-input">
                          <input type="number" id="pay" ng-model="guinForm.pay" placeholder="일급" />
                      </label>
                  </div>
                  <style media="screen">
                      .item-content{text-overflow: inherit !important;}
                  </style>
                  <div class="list marginAuto wid95 mb10 step3Gender">
                      <ion-radio class="left wid33 f12" ng-model="guinForm.sex" ng-value="'nothing'">무관</ion-radio>
                      <ion-radio class="left wid33 f12" ng-model="guinForm.sex" ng-value="'man'">남성</ion-radio>
                      <ion-radio class="wid33 f12" ng-model="guinForm.sex" ng-value="'woman'">여성</ion-radio>
                  </div>

                  <div class="list mb10 flow pdLeft10">
                      <label class="item item-input item-select left pdTop40 wid48">
                          <select class="ionicSel" ng-model="guinForm.age_1st" ng-options="o.no as o.list_name for o in selboxData.age_1st">
                              <option selected>최소 연령 선택</option>
                          </select>
                      </label>
                      <label class="item item-input item-select left pdTop40 wid48">
                          <select class="ionicSel" ng-model="guinForm.age_2nd" ng-options="o.no as o.list_name for o in selboxData.age_2nd">
                              <option selected>최대 연령 선택</option>
                          </select>
                      </label>
                  </div>
                  <div class="list mb10 flow pdLeft10">
                      <label class="item item-input item-select left pdTop40 wid95">
                          <select class="ionicSel" ng-model="guinForm.career" ng-options="o.no as o.list_name for o in selboxData.career">
                              <option selected>필요 경력</option>
                          </select>
                      </label>
                  </div>
                  <div class="list wid95 marginAuto">
                      <label class="item item-input wid98" style="max-width: 100%">
                          <textarea rows="8" id="content" ng-model="guinForm.content" placeholder="상세 모집 내용을 입력해주세요."></textarea>
                      </label>
                  </div>
                  <div ng-if='guinForm.work_2nd == 8021' class="margin-horizontal borderddd f12 mt20 padding bg_white">
                    외국인 근로자 고용 법률 제 8조 6항에 따라 저희 일방에서는 외국인 근로자의 선발, 알선 그 밖의 채용에 관해 직접적으로 개입할 수 없음을 알려드립니다.
                  </div>
              </div>
                <!-- <div ng-if='guinForm.work_2nd == 8021'class="di padding mt20 bar-ilbang fw" style="border-radius:5px; width:70%;width:60%">
                  <input class="mr10" type="checkbox" ng-click="fIlbangYn()" ng-model="guinForm.foreign" checklist-value="'1'"/>외국인 고용 특례
                </div> -->
              <div class="join_btn_wrap mb20">
                  <a ng-click="preEmerGoStep2()" class="button btn red_btn">이전</a>
                  <a ng-click="emergencyFormStep3(guinForm)" class="button btn white_btn">완료</a>
              </div>
          </div>
        </div>
    </ion-content>
</ion-modal-view>
