<ion-view view-title="구직 신청서 쓰기">
    <ion-content has-bouncing="false">
        <div class="bg">
            <img src="img/stepBar2.png" class="wid100 mg5" />
            <div class="join_form">
                <div class="modify_ment mt20 mb20">희망 작업일</div>

            <button class="button button-ilbang mb20" ng-click="openDatePicker()" >날짜선택</button>
            <input type="text" class="w100 border2 tc" ng-model="work_date" value=""/>
            <div class="modify_ment" >근무 시간</div>
            <div class="list TimeCtrl padding mt10 oh" ng-controller="TimeCtrl">
                    <!-- <ion-checkbox class="timeSel di noBorder f12" ng-repeat="time in timeList" ng-model="time.checked" ng-checked="time.checked"> -->
                    <!--<ion-checkbox class="wid33 di f12 noBorder" ng-repeat="time in timeList" ng-model="time.checked" ng-checked="time.checked" ng-click="updateSelection($index, timeList, item.title)" style="padding-left: 45px !important;">
                        {{ time.text }}
                    </ion-checkbox>-->
                    <div class="wid100 flow times">
                        <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'1'">오전</ion-radio>
                        <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'2'">오후</ion-radio>
                        <ion-radio class="wid33 noMargin NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'3'">저녁</ion-radio>
                    </div>
                    <div class="wid100 flow times">
                        <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'4'">새벽</ion-radio>
                        <ion-radio class="timeRadio NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'5'">오전 ~ 오후</ion-radio>
                        <ion-radio class="wid33 noMargin NoborderBottom f12" name="time" ng-model="gujikForm.time" ng-value="'6'">오후 ~ 저녁</ion-radio>
                    </div>
                    <div class="wid100 flow times">
                        <ion-radio class="timeRadio f12" name="time" ng-model="gujikForm.time" ng-value="'7'">저녁 ~ 새벽</ion-radio>
                        <ion-radio class="timeRadio f12" name="time" ng-model="gujikForm.time" ng-value="'8'">새벽 ~ 오전</ion-radio>
                        <ion-radio class="wid33 noMargin f12" name="time" ng-model="gujikForm.time" ng-value="'9'">풀타임</ion-radio>
                    </div>
                </div>
            </div>
            <div class="join_btn_wrap mb20">
                <a ng-click="formStep1Back()" class="button btn red_btn">이전</a>
                <a ng-click="formStep2(gujikForm)" class="button btn white_btn">다음</a>
            </div>
        </div>
    </ion-content>
</ion-view>
