<ion-view view-title="업무 제휴" ng-controller="cooperateCtrl">
	<style media="screen">
		/*.row + .row{height: 137px}*/
	</style>
	<ion-content class="content has-header has-footer" has-bouncing="false">
		<a class="itemImg tc">
			<img src="img/partner_banner.png" alt="" width="100%" class="di">
		</a>
		<div class="list mb20">
			<div class="row">
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://www.goodtv.co.kr')">
							<img src="img/ptn_log_01.png" class="wid70 mb10" alt="" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://www.tshome.co.kr')">
						<img src="img/ptn_log_02.png" alt="" class="wid70 mb10" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="item col noPadding tc itemBox">
					<a>
						<img src="img/ptn_log_03.png" alt="" class="wid70 mb10" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://www.caa.or.kr')">
						<img src="img/ptn_log_04.png" alt="" class="wid70 mb10" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="item col noPadding tc itemBox">
					<img src="img/ptn_log_05.png" alt="" class="wid70 mb10" />
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://blog.daum.net/samarian911q')">
						<img src="img/ptn_log_06.png" alt="" class="wid70 mb10" />
					</a>
				</div>
			</div>
      		<div class="row">
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://homepy.korean.net/~kazkorean/www/')">
						<img src="img/ptn_log_007.png" alt="" class="wid70 mb10" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://homepy.korean.net/~srilanka/www/')">
						<img src="img/ptn_log_008.png" alt="" class="wid70 mb10" />
					</a>
				</div>
			</div>
      		<div class="row">
				<div class="item col noPadding tc itemBox">
					<a href="#">
						<img src="img/ptn_log_009.png" alt="" class="wid70 mb10" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
					<img src="img/ptn_log_010.png" alt="" class="wid70 mb10" />
				</div>
			</div>
      		<div class="row">
				<div class="item col noPadding tc itemBox">
					<a>
						<img src="img/ptn_log_011.png" alt="" class="wid70 mb10" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
						<img src="img/ptn_log_012.png" alt="" class="wid70 mb10" />
				</div>
			</div>
      		<div class="row">
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://www.babytimes.co.kr/n_news/main/index.html')">
						<img src="img/ptn_log_013.png" alt="" class="wid70 mb10" />
					</a>
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://gigaad.modoo.at/')">
						<img src="img/gigaAdPtn.png" alt="" class="wid70 mb10" />
					</a>
				</div>
			</div>
      		<div class="row">
				<div class="item col noPadding tc itemBox">
						<img src="img/jejuPtn.jpeg" alt="" class="wid70 mb10" />
				</div>
				<div class="item col noPadding tc itemBox">
					<a ng-click="goCooper('http://challengekorea.or.kr/')">
						<img src="img/ptn1701_1.png" alt="" class="wid70 mb10 mt30"/>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="item col noPadding tc itemBox">
						<a ng-click="goCooper('http://www.kbu.ac.kr/')">
							<img src="img/ptn1701_2.png" alt="" class="wid70 mb10 mt30"/>
						</a>
				</div>
				<div class="item col noPadding tc itemBox">
						<a ng-click="goCooper('http://www.dcwnews.com/')">
							<img src="img/welfare.png" alt="" class="wid70 mb10 mt30" />
						</a>
				</div>
			</div>
			<div class="row">
				<div class="item col noPadding tc itemBox" style="height:110px">
						<a ng-click="goCooper('https://play.google.com/store/apps/details?id=com.gongsabanjang.jangbibanjangpilot&hl=ko')">
							<img src="img/adPartner19.png" alt="" class="wid70 mb10 mt30"/>
						</a>
				</div>
				<div class="item col noPadding tc itemBox">
						<a ng-click="goCooper('http://csbn.co.kr/')">
							<img src="img/adPartner20.png" alt="" class="wid70 mb10 mt30" />
						</a>
				</div>
			</div>
			<div class="row">
				<div class="item col noPadding tc itemBox" style="height:110px">
						<a ng-click="goCooper('http://www.kpu.ac.kr/index.do')">
							<img src="img/kpu.png" alt="" class="wid70 mb10 mt30"/>
						</a>
				</div>
				<div class=" col noPadding tc itemBox">

				</div>
			</div>
			<!-- <div class="adReqBtn padding"> -->
				<!-- <a ui-sref="ptn" class="button button-block red_btn">업무제휴 신청하기</a>  -->
				<!-- <a ui-sref="ptn" class="button button-block red_btn">업무제휴 신청하기</a> -->

			<div class="adReqBtn padding">
				<a ng-click="loginCheck()" class="button button-block red_btn">업무제휴 신청하기</a>
			</div>
		</div>
	</ion-content>
</ion-view>
