<ion-view view-title="회원가입">
    <ion-content scroll="false" class="bg" has-bouncing="false">
        <div class="join_GeCom fl">
            <a ui-sref="validPageGeneral" class="join_general mb10">
                <img src="img/general.png" class="join_img" width="80%"/>
            </a>
        </div>
        <div class="join_GeCom fl">
            <a ui-sref="validPageComp" class="join_company mb10">
                <img src="img/company.png" class="join_img"  width="80%"/>
            </a>

        </div>
        <div class="join_btn_wrap_false">
            <!-- <a class="button btn red_btn" ng-click="closeModal(22)">이전</a> -->
            <a ui-sref="login" class="button btn white_btn">메인으로</a>
        </div>
    </ion-content>
</ion-view>
