<ion-view>
  <ion-content has-bouncing="false">
    <div class="bg">
        <div class="join_step">
            <img src="img/step2.png" class="step_img" />
            <div class="circle_wrap circle4">
                <div class="white_circle"></div>
                <div class="red_circle"></div>
                <div class="white_circle"></div>
                <div class="white_circle"></div>
            </div>
            <div class="join_step_ment"><span class="red_font">프로필</span>을 작성해 주세요.</div>
        </div>
        <div class="join_form">
            <div class="list list-inset bgTrans">
                <label class="item item-input wid70 left">
                    <input type="text" ng-model="newUser.name" placeholder="아이디를 입력해주세요." />
                </label>
                <input type="button" value="중복 체크" class="white_btn check_btn" />
            </div>
            <div class="list list-inset bgTrans">
                <label class="item item-input"><input type="password" placeholder="패스워드를 입력해주세요." ng-model="pwd1" /></label>
                <label class="item item-input"><input type="password" placeholder="패스워드를 재입력 해주세요." ng-model="pwd2" /></label>
                <div class="no_pass" ng-if="pwd1.length < 6 && pwd1 != ''">* 패스워드가 너무 짧습니다 (6자 이상)</div>
                <div class="no_pass" ng-if="pwd1 != '' && pwd2 != '' && pwd1 != pwd2">* 패스워드가 일치하지 않습니다.</div>
            </div>
            <!-- <div class="list list-inset marginAuto bgTrans wid95" ng-controller="JoinEmailCtrl"> -->
            <div class="list list-inset marginAuto bgTrans wid95">
                <label class="item item-input wid33 left NoborderRight" style="border-radius: 0 !important;">
                    <input type="text" class="pdRight10" ng-model="newUser.email1" placeholder="ilbang" />
                </label>
                <label class="item item-input wid33 left NoborderRight" style="border-radius: 0 !important;">
                    <input type="text" class="pdRight10" ng-model="newUser.email2" placeholder="naver.com" />
                </label>
                <label class="item item-input item-select left pdTop40 wid33">
                    <select class="ionicSel" ng-model="emailList" ng-options="email.emailName for email in emails track by email.id">
                        <option ng-value="email" ng-repeat="email in eamils">{{ email.emailName }}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="join_btn_wrap">
            <a class="button btn red_btn" ng-click="back(2)">이전</a>
            <a class="button btn white_btn" ng-click="next(2)">다음</a>
        </div>
    </div>
  </ion-content>
</ion-view>
