<ion-modal-view>
	<div class="bar bar-ilbang jcc tc lh36 f16 fw guinTab1Head" ng-click="closeModal(2)">
		<i class="icon f16 ion-ios-arrow-back button pa" style="color:white; background-color:#eb5f43;left:0"></i>경력 사항
 	</div>
	<ion-content class="has-header padding" delegate-handle="mainScroll" has-bouncing="false">
		<div class="oh">
			<h5>경력 사항</h5>
			<div class="oh mb20 bb pb15" ng-repeat="modifyCareer in modifyCareers" item="modifyCareers">
				<input type="hidden" ng-model="modifyCareers.no" />
				<div class="list oh mb10">
		   			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		   				<select class="ionicSel" ng-model="modifyCareer.startYear" ng-options="year for year in Years">
		   					<option value="">년도</option>
		   				</select>
		   			</label>
		  			<span class="left artist-modal-wave">~</span>
		   			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		   				<select class="ionicSel" ng-model="modifyCareer.startMonth" ng-options="month for month in Months">
		   					<option value="">월</option>
		   				</select>
		   			</label>
		  			<span class="left lh50 ml10">부터</span>
		   		</div>
		  		<div class="list oh">
		  			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		  				<select class="ionicSel" ng-model="modifyCareer.endYear" ng-options="year for year in Years">
		  					<option value="">년도</option>
		  				</select>
		  			</label>
		  			<span class="left artist-modal-wave">~</span>
		  			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		  				<select class="ionicSel" ng-model="modifyCareer.endMonth" ng-options="month for month in Months">
		  					<option value="">월</option>
		  				</select>
		  			</label>
		  			<span class="left lh50 ml10">까지</span>
		  		</div>
				<div class="list list-inset">
		 			<label class="item item-input"><input type="text" ng-model="modifyCareer.content" placeholder="경력 사항을 입력해주세요." /></label>
		 		</div>
			</div>
			<div class="oh mb20 bb pb15" ng-repeat="career in careers" item="careers">
				<div class="list oh mb10">
		   			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		   				<select class="ionicSel" ng-model="career.startYear" ng-options="year for year in Years">
		   					<option value="">년도</option>
		   				</select>
		   			</label>
		  			<span class="left artist-modal-wave">~</span>
		   			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		   				<select class="ionicSel" ng-model="career.startMonth" ng-options="month for month in Months">
		   					<option value="">월</option>
		   				</select>
		   			</label>
		  			<span class="left lh50 ml10">부터</span>
		   		</div>
		  		<div class="list oh">
		  			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		  				<select class="ionicSel" ng-model="career.endYear" ng-options="year for year in Years">
		  					<option value="">년도</option>
		  				</select>
		  			</label>
		  			<span class="left artist-modal-wave">~</span>
		  			<label class="item item-input col item-select left noMargin pdTop40 career-select">
		  				<select class="ionicSel" ng-model="career.endMonth" ng-options="month for month in Months">
		  					<option value="">월</option>
		  				</select>
		  			</label>
		  			<span class="left lh50 ml10">까지</span>
		  		</div>
				<div class="list list-inset">
		 			<label class="item item-input"><input type="text" ng-model="career.content" placeholder="경력 사항을 입력해주세요." /></label>
		 		</div>
			</div>
			<div class="tc oh w100">
				<a class="di oh">
					<img src="img/sotong-signup.png" alt="" width="50px" ng-click="addCareer()">
				</a>
			</div>
		</div>
		<a ng-click="extendAdd('career')">
			<div class="red_btn tc f16 bold mt20" style="padding: 12px 0; border-radius: 5px;">{{ cultureBtn }}</div>
		</a>
	</ion-content>
</ion-modal-view>
