<ion-modal-view>
	<div class="bar bar-ilbang jcc tc lh36 f16 fw guinTab1Head" ng-click="closeModal(1)">
		<i class="icon f16 ion-ios-arrow-back button pa" style="color:white; background-color:#eb5f43;left:0"></i>{{ kindProfile }} 프로필
	</div>
	<ion-content class="has-header padding modal1-content" scroll="true" has-bouncing="false">
		<div class="oh">
			<h5 class="artist-modal-title">{{ kindProfile }} 프로필</h5>
		</div>
		<div class="list list-inset margin-vertical">
			<label class="item item-input"><input type="text" ng-model="profile.name" placeholder="{{ kindName }}을 입력해주세요." /></label>
		</div>
		<div ng-show="general == true">
			<div class="oh">
				<h5 class="artist-modal-title">생년월일</h5>
			</div>
			<div class="list oh margin-vertical">
				<label class="item item-input item-select left pdTop40 person-profile" style="margin:-1px 0 0 0">
					<select class="ionicSel" ng-model="profile.year" ng-options="year for year in Years">
						<option value="" selected>년</option>
					</select>
				</label>
				<label class="item item-input item-select left pdTop40 person-profile">
					<select class="ionicSel" ng-model="profile.month" ng-options="month for month in Months">
						<option value="" selected>월</option>
					</select>
				</label>
				<label class="item item-input item-select left pdTop40 person-profile">
					<select class="ionicSel"  ng-model="profile.day" ng-options="day for day in Days">
						<option value="" selected>일</option>
					</select>
				</label>
			</div>
			<div class="oh">
				<h5 class="artist-modal-title">직업</h5>
			</div>
			<div class="list list-inset margin-vertical">
				<label class="item item-input"><input type="text" ng-model="profile.job" placeholder="직업을 입력해주세요." /></label>
			</div>
			<div class="oh">
				<h5 class="artist-modal-title">출생지</h5>
			</div>
			<div class="list list-inset margin-vertical">
				<label class="item item-input"><input type="text" ng-model="profile.birthPlace" placeholder="출생지를 입력해주세요." /></label>
			</div>
		</div>
		<div class="oh">
			<h5 class="artist-modal-title">상태 메세지</h5>
		</div>
		<div class="list list-inset margin-vertical">
			<label class="item item-input"><input type="text" ng-model="profile.message" placeholder="상태 메세지를 입력해주세요." /></label>
		</div>
		<div ng-show="company == true">
			<div class="oh">
				<h5 class="artist-modal-title">기업 홈페이지 주소</h5>
			</div>
			<div class="list list-inset margin-vertical">
				<label class="item item-input"><input type="text" ng-model="profile.companyHomepage" placeholder="url을 입력해주세요." /></label>
			</div>
		</div>
		<div class="oh">
			<h5 class="artist-modal-title">페이스북 주소</h5>
		</div>
		<div class="list list-inset margin-vertical">
			<label class="item item-input"><input type="text" ng-model="profile.facebook" placeholder="url을 입력해주세요." /></label>
		</div>
		<div ng-show="general == true">
			<div class="oh">
				<h5 class="artist-modal-title">인스타그램 주소</h5>
			</div>
			<div class="list list-inset margin-vertical">
				<label class="item item-input"><input type="text" ng-model="profile.instagram" placeholder="url을 입력해주세요." /></label>
			</div>
		</div>
		<div class="oh">
			<h5 class="artist-modal-title">{{ kindProfile }} 오픈 채팅 url 주소</h5>
		</div>
		<div class="list list-inset margin-vertical">
			<label class="item item-input"><input type="text" ng-model="profile.kakao" placeholder="url을 입력해주세요." /></label>
		</div>
		<div class="tc f12 artist-intro fo">오픈 채팅 주소는 직접 카카오톡에서 오픈 채팅방을 만든 후 링크를 입력 해주시기 바랍니다.</div>
		<div class="item validItem noPadding noBorder mt20" ng-show="portraitShow == true">
		    <ion-checkbox class="validCheck w100 pt16 f10_m f12 di" ng-model="profile.agree" style="padding-top: 13px;">
		        일방이 홍보시에 초상권에 대한 사용을 동의 합니다.
		    </ion-checkbox>
		</div>
		<a ng-click="profileAdd()">
			<div class="red_btn tc f16 bold mt20" style="padding: 12px 0; border-radius: 5px;">{{ cultureBtn }}</div>
		</a>
	</ion-content>
</ion-modal-view>
