<ion-popover-view class="adFBBtn" style="width: 65px !important;">
    <ion-content class="noMargin adPopWrap" has-bouncing="false">
      <div class="adPopMenu">
        <span class="pa fw bold" style="left:1.5em; top:1.5em">광고신청</span>
        <span class="pa fw bold" style="left:0; top:7em">AD머니 현황</span>
        <div class="" align="right">
          <a ui-sref="adApply" ng-click="closePopover()" class="f12 adPopBtn di vm mb10">
            <img src="img/ad-pop-icon3.png" alt="" style="margin-top: 15px" width="45%">
          </a>
        </div>
        <div class="" align="right">
          <a ui-sref="adLogTabs.adLog1" ng-click="closePopover()" class="f12 adPopBtn di vm">
            <img src="img/ad-pop-icon2.png" alt="" style="margin-top: 20px" width="70%">
          </a>
        </div>
      </div>
    </ion-content>
  </ion-popover-view>
