<ion-view view-title="AD머니 동영상" class="video-pop">
    <ion-content class="bg_fa" has-bouncing="false">
      <div class="bar bar-header bar-ilbang">
          <h1 class="title fw">AD배너</h1>
      </div>
        <iframe ng-src="{{url}}" class="header-margin" width="100%" height="205px"></iframe>
        <div class="wid100 QuizTitle" style="height:auto">{{title}}</div>

        <div class="wid90 QuizContent pr">
          <div class="Quiz red_font">QUIZ</div>
            <div class="wid100">
                <div class="red_btn QuizQ">Q.</div>
                <div class="red_font left wid80 f16">{{quiz}}</div>
                <div class="QuizRadioWrap">
                    <style>
                    .item-radio .radio-icon {
                        top: -10px;
                        color: #eb5f43;
                      }
                    </style>
                    <ion-radio class="QuizRadio mt15" ng-model="example" ng-click="chois(1)"  ng-value="1">{{example1}}</ion-radio>
                    <ion-radio class="QuizRadio" ng-model="example" ng-click="chois(2)" ng-value="2">{{example2}}</ion-radio>
                    <ion-radio class="QuizRadio"ng-model="example" ng-click="chois(3)" ng-value="3">{{example3}}</ion-radio>
                    <ion-radio class="QuizRadio noMargin noBorder" ng-model="example" ng-click="chois(4)" ng-value="4">{{example4}}</ion-radio>
                </div>
            </div>
        </div>
        <div class="wid90 marginAuto mt20 mb20 flow">
            <button class="QuizBtn white_btn" ng-click="closeModal()" >이전</button>
            <button class="QuizBtn red_btn" ng-click="addPoint()"> 적립하기</button>
        </div>
    </ion-content>
</ion-view>
