<ion-view view-title="모든 채용 공고 보기">
	<ion-content class="content has-header allPage" ng-controller="gujikListCtrl" style="bottom: 44px !important;" has-bouncing="false">
		<div class="button-bar">
			<div class="button noRadius noMargin bg_wh" ng-click="siButton()" style="border-right: 1px solid #ddd;">{{ siName }}
				<img class="fr mt15" src="img/mat_arrow.png" alt="" width="10px">
			</div>
			<div class="button noRadius noMargin bg_wh" ng-click="guButton()">{{ guName }}
				<img class="fr mt15" src="img/mat_arrow.png" alt="" width="10px">
			</div>
		</div>
		<div ng-show="showSi" class="siguWrap">
			<div class="row list noPadding di col-33 siguitem" ng-repeat="x in siList">
				<div class="item tc local padding-vertical" ng-click="siSelect({{x.number}},'{{x.value}}')">{{ x.value }}</div>
			</div>
		</div>
		<div ng-show="showGu" class="siguWrap">
			<div class="row list noPadding di col-33 siguitem" ng-repeat="gu in guList">
				<div class="item tc local padding-vertical" ng-click="guSelect({{gu.guNo}},'{{gu.guName}}')">{{ gu.guName }}</div>
			</div>
		</div>
		<div class="button-bar bt" style="border-bottom: 1px solid #ddd;">
			<div class="button noRadius bg_wh" ng-click="ilbangButton()">{{ ilbangName }}
				<img class="fr mt15" src="img/mat_arrow.png" alt="" width="10px">
			</div>
		</div>
		<div ng-show="showIlbangList">
			<div class="row list noPadding di col-33 ilbangList" ng-repeat="x in ilbangList">
				<div class="item tc bg_fa padding-vertical f12 category" ng-click="ilbangSelect({{x.number}},'{{x.value}}')">{{ x.value }}</div>
			</div>
		</div>
		<div class="padding bg_fa">
			<div class="list mb10" ng-repeat = "item in items" item = "item">
				<a class="item item-circle pb10" ui-sref="gujikViewTab1({no:{{item.no}}})">
					<h2  style="border-bottom:1px solid #ccc; padding:.5em 0 .5em">
						<img ng-if="item.emergency" src="img/urgentIcon.png" width="15%"/>
						<span class="f12 w85 di recentTlt_M textCut" style="margin-bottom:-.2em; max-width:100% !important; width:100%">
							<span class="di textCut eeTlt1"><b>{{ item.title }}</b></span>
						<img ng-if ="item.isNew" src="img/newBadge.png" alt="" width="8%" class="vm newBadge"/>
						<span class="border pa circle f12 textCut">
							<img src="img/character.png" alt="" width="100%" style="margin-top:-.1em">
						</span>

						<div ng-if="item.matchingCompleCnt < item.people_num" class="red_circle1 pa">
										<span>매칭<br>진행</span>
						</div>
						<div ng-if="item.matchingCompleCnt >= item.people_num" class="green_circle pa">
    					<span>매칭<br>완료</span>
    				</div>
						<span class="fr eeDate">
							<img src="img/listTime.png" alt="" width="16px" class="vm newBadge" style="margin-top:.4em"/>
							<span class="mb_7 vm di f12">{{ item.wdate }}</span>
						</span>
					</h2>

					<div class="padding-top">
						<span class="badge badge-light ilbangBadge smBadge mr10 f10">{{ item.work_2nd_nm }}</span>
						<span class="f12 ls vm di" style="margin-top:-6px">{{ item.fn }} {{ item.career }}</span>
						<p class="padding-top f12">
							<b>{{ item.work_1st_nm }}</b>
							<span> > {{ item.work_2nd_nm }}</span>
						</p>
						<p class="f12">
							<b>지역</b>
							<span> > {{ item.area_1st_nm }} > {{ item.area_2nd_nm }}</span>
						</p>
						<p class="di ee_pee fr"><b class="fo di vm" style="margin:-2px 3px 0 0">{{ item.pay }}</b>원</p>
					</div>

				</a>
			</div>
		</div>
		<ion-infinite-scroll distance="20%" ng-if = "!noMoreItemsAvailable" on-infinite = "loadMore()"></ion-infinite-scroll>
	</ion-content>
</ion-view>
