<ion-view >
    <div class="item bg_fa">
        <p class="f12 fl mr10">&nbsp;</p>
    </div>
    <ion-tabs class="eeTabs has-header noPadding tabs-top">
        <ion-tab class="mainList eeIcon1 f10" href = "#/employee/all">
          <ion-nav-view name="ee1"></ion-nav-view>


        </ion-tab>
        <ion-tab class="mainList eeIcon2 f10" href = "#/employee/list">
            <ion-nav-view name="ee2"></ion-nav-view>

        </ion-tab>
        <ion-tab class="mainList eeIcon3 f10" href = "#/employee/matching">
            <ion-nav-view name="ee3"></ion-nav-view>


        </ion-tab>
        <ion-tab class="mainList eeIcon4 f10" href = "#/employee/finish">
            <ion-nav-view name="ee4"></ion-nav-view>

        </ion-tab>
    </ion-tabs>
</ion-view>
